#table1 {
  border: 10px solid rgb(129, 4, 4);
  width: 75%;
  margin: auto;
}
body{
  background-image: url('https://wallpaperaccess.com/full/383133.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}